body {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  background-image: linear-gradient(to bottom, #333232, #056a77);
  height: 665px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fullUrl {
  width: 300px;
  margin-right: 11%;
}

#customShortId {
  width: 300px;
}
a {
  color: wheat;
}
.URL {
  background-image: linear-gradient(to right, #333232, #056a77);
}
.customizeURL {
  background-image: linear-gradient(to right, #333232, #056a77);
}
.button {
  background-image: linear-gradient(to right, #333232, #056a77);
  color: wheat;
  margin-top: 45px;
  margin-left: 43%;
}
.my-custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 21%;
}
.my-custom-table th {
  background-image: linear-gradient(to bottom, #01535e, #005a66);
  color: wheat;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.my-custom-table td {
  background-color: inherit;
  color: wheat;
  text-align: center;
  width: 350px;
  padding: 10px;
  vertical-align: middle;
}

.my-custom-table thead tr {
  background-color: #f0f0f0;
  color: black;
}

.my-custom-table td:last-child {
  border-bottom: none;
}

.delete {
  cursor: pointer;
  width: 50px;
  height: auto;
  margin-right: 90%;
}

.URLogo {
  margin-top: -220px;
  margin-bottom: 50px;
  width: 300px;
  height: auto;
}
